.searchInput-and-DataCard-container {
  overflow: hidden;
  width: 65%;
  position: absolute;
  right: 50%;
  transform: translateX(50%) translateY(1%);
  margin-top: 40px;
  opacity: 0;
  transition: transform 2s, opacity 1s ease-in-out;
}

.showContent {
  opacity: 1;
  transform: translateX(50%) translateY(0%);
}
