.dataCard-container {
  width: 100%;
  height: 80vh;
  border: 4px solid ghostwhite;
  margin: 0 auto;
  float: left;
  margin-top: 25px;
  background: linear-gradient(to bottom, #000000fb, #0a0a0a9f, #000000);
}
