.backgroundImg-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(17, 16, 16);
  // overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: black;

    @media only screen and (max-width: 670px) {
      opacity: 0.3;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.884) 15%,
      rgba(0, 0, 0, 0.61) 25%,
      rgba(0, 0, 0, 0.103) 45%,
      rgba(0, 0, 0, 0.438) 65%,
      rgba(0, 0, 0, 0.703) 70%,
      rgba(0, 0, 0, 0.922) 80%,
      rgba(0, 0, 0, 0.988) 90%
    );
  }
}
